[workspace]
authors = ["Rob Timpe <rtimpe@openteams.com>"]
channels = ["conda-forge", "nodefaults"]
name = "pytorch-dev"
platforms = ["linux-64"]
version = "0.1.0"

[dependencies]
python = "*"
pip = "*"
cpython = "*"
gcc = "*"
gxx = "*"
clang = "*"
clangxx = "*"
magma = "*"
cuda-driver-dev = "*"
cuda-version = "12.9.*"
cudnn = "*"
conda-gcc-specs = "*"
cuda-libraries-dev = "*"
cuda-nvcc = "*"
cuda-gdb = "*"
cuda-nvtx-dev = "*"
cuda-nvml-dev = "*"
cuda-cupti-dev = "*"
ccache = "*"
cmake = "*"
fsspec = "*"
mkl = "*"
mkl-include = "*"
nccl = "*"
ninja = "*"
packaging = "*"
pyyaml = "*"
scikit-build = "*"
setuptools = "*"
sysroot_linux-64 = ">=2.17"
types-dataclasses = "*"
typing = "*"
typing-extensions = "*"
wheel = "*"
numpy = "*"
expecttest = "*"
hypothesis = "*"
scipy = "*"
pytest = "*"
parameterized = "*"
ghstack = "*"
ipython = "*"
pytest-sugar = "*"
pytest-xdist = "*"
filelock = "*"
sympy = "*"
astunparse = "*"
dill = "*"
jinja2 = "*"
lark = "*"
tabulate = "*"
networkx = "*"
zlib = "*"

[pypi-dependencies]
z3-solver = "*"
python-lsp-ruff = "*"

[feature.dev.dependencies]
emacs = "*"
ripgrep = "*"
clang-tools = "*"
ruff = "*"

[feature.dev.tasks]
build = {cmd = "cd $PYTORCH_DIR && ../torch-build/pytorch-build.sh"}
emacs = "emacs"
# no test task, just use pixi shell
# test = {cwd = "../pytorch/test", cmd = "pytest"}

[feature.nonft.dependencies]
# packages that don't support free threading
halide-python = "*"
gdb = "*"
onnx-ir = "*"
python-lsp-server = "*"
optree = "*"
psutil = "*"
lldb = "*"

[feature.py313.dependencies]
python = "3.13.*"
numpy = "2.2.*"

[feature.py313.activation.env]
PYTORCH_DIR = "../pytorch313"

[feature.py314.dependencies]
python = "3.14.*"

[feature.py314.activation.env]
PYTORCH_DIR = "../pytorch"

# the lint env will inherit from default, but won't have torch installed.
# however it seems to still work fine as long as it's run from the pytorch
# directory
[feature.lint.dependencies]
lintrunner = "*"

[feature.lint.tasks]
# init with `pixi r lintrunner init`
lintrunner = {cwd = "../pytorch", cmd="lintrunner"}

[feature.ft.activation.env]
PYTORCH_DIR = "../pytorch-ft"

[feature.ft.dependencies]
python-freethreading = "3.14.*"

# disable build isolation so we can declare torch (and other pacakges) as dependencies
# [pypi-options]
# no-build-isolation = true

[feature.bm.tasks]
# torch should already be built by pytorch-build.sh or similar, this is simply
# to install.  this is a task rather than a dependency because we want it to be
# explicit (in case pytorch hasn't been built/the directory structure isn't set
# up, etc)
install = {cmd = "cd $PYTORCH_DIR && pip install --no-build-isolation -e . && cd ../torch-vision && pip install -e ."}

[feature.ci.tasks]
# installs torch and ci deps.  see above for why torch is installed here instead
# of listed as a dependency
install = {cmd = "cd $PYTORCH_DIR && pip install --no-build-isolation -e . && pip install -r .ci/docker/requirements-ci.txt"}

[feature.bm.dependencies]
pandas = "*"
tqdm = "*"
transformers = "*"

[feature.ft313.dependencies]
python-freethreading = "3.13.*"
libxslt = "*"
libxml2-devel = "*"

[environments]
py313 = ["py313", "nonft", "dev"]
py314 = ["py314", "nonft", "dev"]
ft = ["ft"]
ft313 = ["ft313", "dev"]
lint = ["lint", "py313"]
ci = ["py313", "ci"]
ci314 = ["py314", "ci"]
cift = ["ft", "ci"]
bm = ["py313", "nonft", "bm"]
