[workspace]
authors = ["Rob Timpe <rtimpe@openteams.com>"]
channels = ["conda-forge", "nodefaults"]
name = "pytorch-dev"
platforms = ["linux-64"]
version = "0.1.0"

[dependencies]
python = "*"
pip = "*"
cpython = "*"
gcc = "*"
gxx = "*"
clang = "*"
clangxx = "*"
magma = "*"
cuda-driver-dev = "*"
cuda-version = "12.9.*"
cudnn = "*"
conda-gcc-specs = "*"
cuda-libraries-dev = "*"
cuda-nvcc = "*"
cuda-gdb = "*"
cuda-nvtx-dev = "*"
cuda-nvml-dev = "*"
cuda-cupti-dev = "*"
ccache = "*"
cmake = "*"
fsspec = "*"
mkl = "*"
mkl-include = "*"
nccl = "*"
ninja = "*"
packaging = "*"
pyyaml = "*"
scikit-build = "*"
setuptools = "*"
sysroot_linux-64 = ">=2.17"
types-dataclasses = "*"
typing = "*"
typing-extensions = "*"
wheel = "*"
numpy = "*"
expecttest = "*"
hypothesis = "*"
scipy = "*"
pytest = "*"
parameterized = "*"
ghstack = "*"
ipython = "*"
pytest-sugar = "*"
pytest-xdist = "*"
filelock = "*"
sympy = "*"
astunparse = "*"
dill = "*"
jinja2 = "*"
lark = "*"
tabulate = "*"
networkx = "*"
zlib = "*"
emacs = "*"
ripgrep = "*"
clang-tools = "*"
ruff = "*"

[pypi-dependencies]
z3-solver = "*"
python-lsp-ruff = "*"

[feature.dev.tasks]
build = {cwd = "../pytorch", cmd = "../torch-build/pytorch-build.sh"}
emacs = "emacs"
# no test task, just use pixi shell
# test = {cwd = "../pytorch/test", cmd = "pytest"}

[feature.nonft.dependencies]
# packages that don't support free threading
halide-python = "*"
gdb = "*"
onnx-ir = "*"
python-lsp-server = "*"
optree = "*"
psutil = "*"
lldb = "*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py314.dependencies]
python = "3.14.*"

# the lint env will inherit from default, but won't have torch installed.
# however it seems to still work fine as long as it's run from the pytorch
# directory
[feature.lint.dependencies]
lintrunner = "*"

[feature.lint.tasks]
# init with `pixi r lintrunner init`
lintrunner = {cwd = "../pytorch", cmd="lintrunner"}

[feature.ft.dependencies]
python-freethreading = "3.14.*"

[feature.ft.tasks]
build = {cwd = "../pytorch-ft", cmd = "../torch-build/pytorch-build.sh"}

[feature.py313.tasks]
build = {cwd = "../pytorch313", cmd = "../torch-build/pytorch-build.sh"}

[feature.ci.tasks]
install = {cwd = "../pytorch313", cmd = "pip install -r .ci/docker/requirements-ci.txt"}

# disable build isolation so we can declare torch (and other pacakges) as dependencies
[pypi-options]
no-build-isolation = true

[feature.bm.pypi-dependencies]
# assumes torch has already been built with pytorch-build.sh or similar.  this
# is just to make sure it's installed
torch = {path = "../pytorch313", editable = true}
torchvision = {path = "../torch-vision", editable = true}

[feature.bm.dependencies]
pandas = "*"
tqdm = "*"
transformers = "*"

[feature.ft313.dependencies]
python-freethreading = "3.13.*"
libxslt = "*"
libxml2-devel = "*"

[environments]
py313 = ["py313", "nonft", "dev"]
py314 = ["py314", "nonft", "dev"]
ft = ["ft", "dev"]
ft313 = ["ft313", "dev"]
lint = ["lint", "py313"]
ci = ["py313", "ci"]
bm = ["py313", "nonft", "bm"]