[workspace]
authors = ["Rob Timpe <rtimpe@openteams.com>"]
channels = ["conda-forge", "nodefaults"]
name = "pytorch-dev"
platforms = ["linux-64"]
version = "0.1.0"

[dependencies]
python = "*"
pip = "*"
cpython = "*"
gcc = "*"
gxx = "*"
clang = "*"
clangxx = "*"
magma = "*"
cuda-driver-dev = "*"
cuda-version = "12.9.*"
cudnn = "*"
conda-gcc-specs = "*"
cuda-libraries-dev = "*"
cuda-nvcc = "*"
cuda-gdb = "*"
cuda-nvtx-dev = "*"
cuda-nvml-dev = "*"
cuda-cupti-dev = "*"
ccache = "*"
cmake = "*"
fsspec = "*"
mkl = "*"
mkl-include = "*"
nccl = "*"
ninja = "*"
packaging = "*"
pyyaml = "*"
scikit-build = "*"
setuptools = "*"
sysroot_linux-64 = ">=2.17"
types-dataclasses = "*"
typing = "*"
typing-extensions = "*"
wheel = "*"
numpy = "*"
expecttest = "*"
hypothesis = "*"
scipy = "*"
pytest = "*"
parameterized = "*"
ghstack = "*"
ipython = "*"
pytest-sugar = "*"
pytest-xdist = "*"
filelock = "*"
sympy = "*"
astunparse = "*"
dill = "*"
jinja2 = "*"
lark = "*"
tabulate = "*"
networkx = "*"
zlib = "*"

[pypi-dependencies]
z3-solver = "*"
tlparse = "*"
protobuf = "*" # for testing protobuf support in dynamo

[feature.editor.dependencies]
emacs = "*"
ripgrep = "*"
clang-tools = "*"
ruff = "*"
python-lsp-server = "*"

[feature.editor.pypi-dependencies]
python-lsp-ruff = "*"

[feature.editor.tasks]
emacs = "emacs"

[feature.dev.tasks]
build = {cmd = "cd $PYTORCH_DIR && ../torch-build/pytorch-build.sh"}
# no test task, just use pixi shell
# test = {cwd = "../pytorch/test", cmd = "pytest"}

[feature.nonft.dependencies]
# packages that don't support free threading
halide-python = "*"
gdb = "*"
onnx-ir = "*"
optree = "*"
psutil = "*"
lldb = "*"

[feature.py314.dependencies]
python = ">=3.14.2"

[feature.py314-env.activation.env]
PYTORCH_DIR = "../pytorch"

# the lint env will inherit from default, but won't have torch installed.
# however it seems to still work fine as long as it's run from the pytorch
# directory
[feature.lint.dependencies]
lintrunner = "*"
uv = "*"

[feature.lint.tasks]
# init with `pixi r lintrunner init`
lintrunner = {cmd="cd $PYTORCH_DIR && lintrunner"}

[feature.ft-env.activation.env]
PYTORCH_DIR = "../pytorch-ft"

[feature.ft.dependencies]
python-freethreading = "3.14.*"

# disable build isolation so we can declare torch (and other pacakges) as dependencies
# [pypi-options]
# no-build-isolation = true

[feature.bm.tasks]
# torch should already be built by pytorch-build.sh or similar, this is simply
# to install.  this is a task rather than a dependency because we want it to be
# explicit (in case pytorch hasn't been built/the directory structure isn't set
# up, etc)
install = {cmd = "cd $PYTORCH_DIR && pip install --no-build-isolation -e . -v && cd ../torch-vision && pip install -e . -v && cd ../torch-audio && pip install -e . -v --no-build-isolation"}
install-model = {cmd = "cd ../torchbenchmark && python install.py --numpy"} # specify model name as an additional positional arg

[feature.ci.tasks]
# installs torch and ci deps.  see above for why torch is installed here instead
# of listed as a dependency
install = {cmd = "cd $PYTORCH_DIR && pip install --no-build-isolation -e . -v && pip install -r .ci/docker/requirements-ci.txt"}

[feature.bm.dependencies]
pandas = "*"
tqdm = "*"
transformers = "*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.cpython.dependencies]
gcc = "*"
gxx = "*"
pkg-config = "*"
zlib = "*"
openssl = "*"
gdb = "*" # depends on python
ccache = "*"

[feature.cpython.tasks]
config-py-rel = "cd ../cpython && mkdir -p build-dbg && cd build-dbg && ../configure --prefix=/home/rtimpe/git/torch-build/.pixi/envs/cpython/ --disable-gil"
config-py-dbg = "cd ../cpython && mkdir -p build-dbg && cd build-dbg && ../configure --prefix=/home/rtimpe/git/torch-build/.pixi/envs/cpython/ --disable-gil --with-py-debug"
build-py = "cd ../cpython/build-dbg && make install -j10"
build = "cd $PYTORCH_DIR && ../torch-build/pytorch-build-custom-cpython.sh"

# [feature.cpython.pypi-dependencies]
# pip = "*"

[feature.pt-dbg-env.activation.env]
PYTORCH_DIR = "../pytorch-dbg"

[environments]
py314 = ["py314", "py314-env", "dev"]
py314-lint = ["py313", "py314-env", "lint"]
ft = ["ft", "ft-env", "dev"]
ft-lint = ["py313", "ft-env", "lint"]
ci314 = ["py314", "py314-env", "ci"]
cift = ["ft", "ft-env", "ci"]
bm = ["py314", "py314-env", "nonft", "bm"]
editor = ["editor"]
cpython = {no-default-feature = true, features = ["cpython", "pt-dbg-env", "dev"]}